body{
    background-color: lightskyblue;
}
    
#heading{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#second_heading{
    color: darkmagenta;
    font-style: italic;
    font-weight: bold;
}
#Guest-name{
    color: red;
    border-width: 2px;
    border-style: ridge;
    border-color: blue;
}
#submit_button{
    color: rgb(253, 169, 183);
    background-color: rgb(128, 34, 128);
}
#search-input{
    color: blue;
    border-width: 2px;
    border-style: ridge;
    border-collapse: separate;
    border-color: blueviolet;
}
#search-button{
    color: wheat;
    background-color: blue;
}